.mintContainer{
    background-color: #3a677e;
    height: calc(100vh - 4rem);
}
.title{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding-top: 40px;
}

.description{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
}

.cardContainer{
    display: flex;
    margin: 40px 10%;
}

.cardLeft{
    flex: 1;
}

.cardRight{
    flex:1;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-around;
}

.nftInfo{
    
}

.infoRow{
   line-height: 30px;
}